1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [8]:
# Kerjakan nomor 1 di sini
for i in range(1,51):
    print(f"Pangkat 2 dari angka {i} adalah {i**2}")

Pangkat 2 dari angka 1 adalah 1
Pangkat 2 dari angka 2 adalah 4
Pangkat 2 dari angka 3 adalah 9
Pangkat 2 dari angka 4 adalah 16
Pangkat 2 dari angka 5 adalah 25
Pangkat 2 dari angka 6 adalah 36
Pangkat 2 dari angka 7 adalah 49
Pangkat 2 dari angka 8 adalah 64
Pangkat 2 dari angka 9 adalah 81
Pangkat 2 dari angka 10 adalah 100
Pangkat 2 dari angka 11 adalah 121
Pangkat 2 dari angka 12 adalah 144
Pangkat 2 dari angka 13 adalah 169
Pangkat 2 dari angka 14 adalah 196
Pangkat 2 dari angka 15 adalah 225
Pangkat 2 dari angka 16 adalah 256
Pangkat 2 dari angka 17 adalah 289
Pangkat 2 dari angka 18 adalah 324
Pangkat 2 dari angka 19 adalah 361
Pangkat 2 dari angka 20 adalah 400
Pangkat 2 dari angka 21 adalah 441
Pangkat 2 dari angka 22 adalah 484
Pangkat 2 dari angka 23 adalah 529
Pangkat 2 dari angka 24 adalah 576
Pangkat 2 dari angka 25 adalah 625
Pangkat 2 dari angka 26 adalah 676
Pangkat 2 dari angka 27 adalah 729
Pangkat 2 dari angka 28 adalah 784
Pangkat 2 dari angka 29 adalah 841
Pangkat 2 dari angka 30 adalah 900
Pangkat 2 dari angka 31 adalah 961
Pangkat 2 dari angka 32 adalah 1024
Pangkat 2 dari angka 33 adalah 1089
Pangkat 2 dari angka 34 adalah 1156
Pangkat 2 dari angka 35 adalah 1225
Pangkat 2 dari angka 36 adalah 1296
Pangkat 2 dari angka 37 adalah 1369
Pangkat 2 dari angka 38 adalah 1444
Pangkat 2 dari angka 39 adalah 1521
Pangkat 2 dari angka 40 adalah 1600
Pangkat 2 dari angka 41 adalah 1681
Pangkat 2 dari angka 42 adalah 1764
Pangkat 2 dari angka 43 adalah 1849
Pangkat 2 dari angka 44 adalah 1936
Pangkat 2 dari angka 45 adalah 2025
Pangkat 2 dari angka 46 adalah 2116
Pangkat 2 dari angka 47 adalah 2209
Pangkat 2 dari angka 48 adalah 2304
Pangkat 2 dari angka 49 adalah 2401
Pangkat 2 dari angka 50 adalah 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [18]:
# Kerjakan nomor 2 di sini
NamaMahasiswa = ['dafa alhakim', 'pradipta dani', 'yusuf habibi', 'helmi rafif', 'katon adiluhung', 'ilham ryan', 'ilham wadini', 'fahriza fadhilah', 'chezava deananta', 'rizal hakim','rafi narendraji']
src = input('Masukkan Nama Mahasiswa')
src = src.lower()
for x in NamaMahasiswa:
    if src == x:
        print('pencarian anda sudah berakhir')
        break
    print(x)

pencarian anda sudah berakhir

3. Disajikan list sebagai berikut

In [ ]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [9]:
# kerjakan nomor 3 di sini
import random
x = 0
for i in bulan:
    if i in ['april', 'mei']:
        print(f"Pada Bulan {i} Robert akan kembali ke indonesia untuk istirahat")
        continue
    print(f"Robert akan mengadakan  konser pada bulan {i} di Kota Besar yaitu", kota[x])
    x+=1
    if x == 8:
        x = random.randrange(0,8)

Robert akan mengadakan  konser pada bulan januari di Kota Besar yaitu jakarta
Robert akan mengadakan  konser pada bulan februari di Kota Besar yaitu kuala lumpur
Robert akan mengadakan  konser pada bulan maret di Kota Besar yaitu bangkok
Pada Bulan april Robert akan kembali ke indonesia untuk istirahat
Pada Bulan mei Robert akan kembali ke indonesia untuk istirahat
Robert akan mengadakan  konser pada bulan juni di Kota Besar yaitu seoul
Robert akan mengadakan  konser pada bulan juli di Kota Besar yaitu canada
Robert akan mengadakan  konser pada bulan agustus di Kota Besar yaitu london
Robert akan mengadakan  konser pada bulan september di Kota Besar yaitu dubai
Robert akan mengadakan  konser pada bulan oktober di Kota Besar yaitu barcelona
Robert akan mengadakan  konser pada bulan november di Kota Besar yaitu london
Robert akan mengadakan  konser pada bulan desember di Kota Besar yaitu dubai